/*body {
    margin: 0;
    padding: 0;
    background: url('video/JAPANESE\ STREET\ CHERRY\ BLOSSOM\ LIVE\ WALLPAPER.mp4');
    background-size: cover;
}


/*.video-container {
    margin: 0;
    padding: 0;
    background: url('video/JAPANESE\ STREET\ CHERRY\ BLOSSOM\ LIVE\ WALLPAPER.mp4');
    background-size: cover;
    background-size: auto;
    
}
*/


* {
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}


nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 100;
    display: flex;
    align-items: right;
    justify-content: space-between;
    background: rgba(102, 11, 102, 0.9);

    
}

nav .logo {
    width: 70px;
    border-radius: 55%;

    

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    margin-left: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.box {
    width: 420px;
    height: 770px;
    background: rgba(20, 20, 20, 0.548);
    padding: 50px;
    text-align: center;
    margin: top, left;
    margin-top: 2.7%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    flex-shrink: 4;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h3 {
    font-size: 30;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20;
    letter-spacing: 3px;
    font-weight: 100;

}
.box p {
    text-align: justify;
    font-size: 15;
    letter-spacing: 2px;
}

.icons ul li {
    margin-top: 120px;
    margin-left: 5px;

}
.icons ul li a {
    margin: 15px;

}

.box li {
    display:  inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}


.container {
    display: flex;
    justify-content: flex-start;
}

/*Videoo */
.video-container {
    margin: 100px;
    margin-left: 170px;
    margin-top: 160px;
    
}

.back-video {
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
}

@media (min-aspect-ratio:16/9){
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
    .back-video {
      width: auto;
      height: 100%;
    }
  }

  /* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  /* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }